
/* header */
.page-header {
    margin-top: 0;
}

.navbar-fixed-top {
    border: 0;
}

body {
    padding-top: 50px;
}

/* sidebar */
.sidebar {
    position: fixed;
    display: block;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
}

.nav-sidebar {
    margin-right: -15px;
    margin-left: -15px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus,
.nav-sidebar > .active > a:hover {
    color: #eee;
    background-color: #428bca;
}

.nav-sidebar > .btn {
    padding-bottom: 20px;
}

.nav-sidebar .unread {
    font-weight: bold;
}

/* main */
.main {
    padding: 15px;
    margin-top: 0;
}

.hidden-row {
    padding: 0px !important;
}

.description {
    padding: 20px 25%;
}

.pagination-layout {
    width: 100%;
    text-align: center;
}

.btn-list {
   margin: 0 10px;
}

/* font-style */
.bold {
    font-weight: bold;
}
